{% extends 'base/project_base.html' %}
{% block page_content %}
	
	<div class="row">
		<div class="col">
			<form method="POST" action="">
				{% csrf_token %}
				<table class="table">
					{{form.as_table}}
				<tr>
					<td></td>
					<td><input type="submit" class="btn btn-primary" value="Update Profile" /></td>
				</tr>
			</form>
		</div>
	</div>
	<div><a href="{% url 'session_manager_profile_reset_password' %}">Reset password</a></div>
	<div><a href="{% url 'session_manager_logout' %}">Log out</a></div>

{% endblock %}

