<div class="row">
	<div class="col">
		<form method="POST" action="">
			{% csrf_token %}
			<table class="table">
				<tr>
					<td>Organization: </td>
					<td>
						<select id="organization_id" name="organization_id">
							<option></option>
							{% for u_org in user_organizations %}
								<option 
									value="{{u_org.organization.pk}}"
									{% if u_org.organization == current_organization %}
									selected="selected"
									{% endif %}
									>
									{{u_org.organization.name}}
								</option>
							{% endfor %}
						</select>
					</td>
					<td><input type="submit" class="btn btn-primary float-right" value="Switch Organization" name="switch-organization" /></td>
				</tr>
			</table>
		</form>
	</div>
</div>
<hr />
<div class="row">
	<div class="col">
		<a href=""><button class="btn btn-success">Create a new Organization</button></a>
	</div>
</div>
