{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="Productivity tool for getting daily red/yellow/green status of team members">
	<meta name="keywords" content="team productivity, productivity tools, team tools">
	<meta name="author" content="Bo Morin">
	<title>{% block page_title %}TeamBeat{% endblock %}</title>
	<link rel="shortcut icon" href="{% static 'site-images/favicon.ico' %}" />
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
	<link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
	<link href= 'https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/ui-lightness/jquery-ui.css' rel='stylesheet'> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js" > </script> 
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js" > </script>
	<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'js/message.js' %}"></script>
	{% block extra_js %}{% endblock %}
	<link href="{% static 'css/base.css' %}" rel="stylesheet">
	{% block extra_css %}{% endblock %}
</head>

<body>
	{% block header_nav %}
		<nav class="navbar navbar-expand-sm bg-light navbar-light navbar-custom">
			<div class="container">
				<a class="navbar-brand" href="{% if user.is_authenticated %}{% url 'dashboard' %}{% else %}{% url 'session_manager_login' %}{% endif %}">
					<img id="header-image" src="{% static 'site-images/teambeat-logo-crayon.png' %}" />
				</a>
				{% if user.is_authenticated %}
					<span class="navbar-text"><a href="{%url 'session_manager_profile' %}">
						<img id="profile-image" 
							src="{% if has_alerts %}{% static 'site-images/profile-icon-alert.png' %}{% else %}{% static 'site-images/profile-icon.png' %}{% endif %}" />
					</a></span>
				{% else %}
					<span class="navbar-text"><a href="{%url 'session_manager_login' %}">
						<img id="profile-image" src="{% static 'site-images/profile-icon.png' %}" />
					</a></span>
				{% endif %}
			</div>
		</nav>
	{% endblock %}
	{% if breadcrumbs %}
		<div class="container">
			<nav aria-label="breadcrumb">
			  <ol class="breadcrumb">
			  	{% for title, link in breadcrumbs %}
					{% if link %}
						<li class="breadcrumb-item"><a href="{{link}}">{{title}}</a></li>
					{% else %}
						<li class="breadcrumb-item active">{{title}}</li>
					{% endif %}
				{% endfor %}
			  </ol>
			</nav>
		</div>
	{% endif %}
	<div class="js-data">{% block js_data %}{% endblock %}</div>
	<div class="container">
		<div id="main-content">
		{% block messages %}
			<div id="js-messages-row" class="row">
				<div id="js-messages-col" class="col">
				    {% for message in messages %}
				    <div class="alert alert-{% if message.level_tag == 'error'%}danger{% else %}{{message.level_tag}}{% endif %} alert-dismissible fade show" role="alert">
					 	<strong>{{message|safe}}</strong>
					 	<button type="button" class="close" data-dismiss="alert" aria-label="Close">
					 	<span aria-hidden="true">&times;</span>
					</div>
				    {% endfor %}
				</div>
			</div>
			{% endblock %}
			{% block page_header %}
				{% if organization %}
					<h1>{{organization.name}}</h1>
				{% endif %}
			{% endblock %}
			{% block page_content %}{% endblock %}
		</div>
	</div>
</body>
